html,
body {
  background-color: rgb(0, 0, 0);
  color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.2em;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 80%;
  }
}

p {
  font-size: 0.75em;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  padding: 0;
  /* font-size: 1.5rem; */
}

.logoContainer img{
  position: absolute;
  margin: 10px;
  z-index: 1;
  width: 90px;
}

.infoContainer {
  position: absolute;
  margin-left: 18px;
  margin-top: 125px;
  z-index: 1;
}

.SpeakerContainer {
  position: absolute;
  margin-top: 175px;
  margin-left: 19px;
  z-index: 1;
}

.triangleContainer {
  position: absolute;
  margin-top: 10px;
  right: 19px;
  z-index: 1;
  width: 60px;
}

.container-top{
  flex:1;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .container-top{
    flex:1;
    display: flex;
    flex-direction: column;
  }
}

.container-canvas {
  /* background-color: rgb(237, 139, 139); */
  flex: 1;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.imgContainer {
  /* background-color: #fde386; */
  width: 50%;
}

#canvas {
  position: absolute;
  /* background-color: #0053d090; */
  top: 0;
  width: 50%;
  height: 75%;
  z-index: 0;
}

#container-video {
  flex: 1;
  height: auto;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ui-video {
  position:absolute;
  width: 48%;
  /* background-color: rgba(233, 239, 187, 0.603); */
  padding: 0.5rem 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


input#play {
  display: none;
}

.play img {
  display: none;
  cursor: pointer;
  opacity: 0.35;
  width: 35px;
  transform: translateY(15px);
}

.pause img {
  cursor: pointer;
  opacity: 0.35;
  width: 35px;
  transform: translateY(15px);
}

.play img:hover {
  opacity: 0.6;
}

.pause img:hover {
  opacity: 0.6;
}

input#play:checked ~ .play img {
  display: initial;
}

input#play:checked ~ .pause img {
  display: none;
}

#slider-range {
  border: none;
  width: 100%;
  background-color: #444;
}

#video1 {
  /* background-color: blue; */
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.ui-bar {
  /* background-color: rgba(44, 35, 172, 0.34); */
  width: 100%;
  /* max-height: 250px; */
  z-index: 0;
  flex: 0.35;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: center; */
  /* padding-bottom: 1em; */
}



.interactive {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 50px 50px 30px 20px 20px;
  flex: 1;
  justify-items: start;
  align-items: start;
  justify-content: space-evenly;
}

.heading1 {
  grid-column: 3/1;
  grid-row: 1;
}
.btn-classic {
  grid-column: 1;
  grid-row: 2;
  height: 45px;

}

.btn-sampler {
  grid-column: 2;
  grid-row: 2;
  height: 45px;
 
}

.btn-granular {
  grid-column: 3;
  grid-row: 2;
  height: 45px;
}

.slidergrainsize {
  grid-column: 3;
  grid-row: 3;
}

.sliderpbrate {
  grid-column: 3;
  grid-row: 4;
}

.slidergaingrainsynth {
  grid-column: 3;
  grid-row: 5;
}

.btn-grain {
  grid-column: 4;
  grid-row: 2;
  height: 45px;

}

.toggle {
  grid-column: 4;
  grid-row: 3;
}

.filmsounds {
  display: grid;
  flex: 1;
  grid-template-rows:1fr 1fr 1fr;
}

.timeline {
  display: flex;
  flex: 1;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
}

.motive {
  display: grid;
  grid-template-columns: 11fr 17fr 12fr 9fr 11fr; 
  grid-template-rows: 40px 40px;
 /* column-gap: 10px;*/
 /* row-gap: 10px;*/
  flex: 1;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
}

.filmmusik {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 40px;
}

.btn-motiv {
  height: 35px;
}

.btn-filmmusik {
  height: 35px;
}

.btn-foley {
  height: 35px;
}

.foleys {
  display: grid;
  flex: 1;
  grid-template-columns: 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr;
  grid-template-rows: 35px;
}

.btn-foley-rain {
  grid-column: 4/2;
  grid-row: 1;
}

.btn-foley-water {
  grid-column: 4;
  grid-row: 1;
}

.btn-foley-steps {
  grid-column: 10;
  grid-row: 1;
}

.btn-foley-pigs {
  grid-column: 6;
  grid-row: 1;
}

.btn-foley-engine {
  grid-column: 10/8;
  grid-row: 1;
}

.ui-theremin {
  flex: 1;
  /* background-color: #f16834; */
  padding: 0.25em 1rem;
}

.ui-granular{
  flex: 1;
  /* background-color: #f16834; */
  padding: 0.25em 1rem;
}

.ui-graindelay{
  flex: 1;
  /* background-color: #f16834; */
  padding: 0.25em 1rem;
}

.ui-motiv {
  flex: 1;
  flex-direction: column;
  /* background-color: #9a8e32; */
  padding: 0.25em 1rem;
  align-items: flex-start;
}



.ui-voice {
  flex: 1;
  flex-direction: row;
  padding: 0.25em 1rem;
  align-items: flex-start;
}

.ui-foley {
  flex: 1;
  flex-direction: row;
  /* background-color: #317c3c; */
  padding: 0.25em 1rem;
}

.ui-slider { 
  height: 6px;
  border-radius: none;
}

.ui-slider-range{
  border-radius: 0;
  /* background: #20638d; */
}

.ui-slider .ui-slider-handle{
  border-radius: 0;
  background-color: #ecce86;
  width: 10px;
  height: 15px;
  border: none;
}

button {
  background-color: #20638d;
  border: none;
  color: #fff;
/*  padding: 15px 10px;*/
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.70;
  min-width: 50px;
}



button:hover {
  opacity: .84;
}

button:active {
  background-color: #20638d;
}

.btn-classic {
  background-color: #f16834;
  opacity: 0.68;
}

.btn-sampler {
  background-color: #f16834;
  opacity: 0.68;
}

.btn-granular{
  background-color: #f16834;
  opacity: 0.68;
}

.btn-grain{
  background-color: #f16834;
  opacity: 0.68;
}

.btn-classic:hover {
  background-color: #f16834;
  opacity: 0.92;
}

.btn-granular:hover{
  background-color: #f16834;
  opacity: 0.92;
}

.btn-grain:hover{
  background-color: #f16834;
  opacity: 0.92;
}

.btn-info {
  opacity: 0.8;
  background-color: black;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.btn-info:hover {
  opacity: 1;
}

.btn-info:active {
  background-color: black;
}

input#un-mute {
  display: none;
}

.unmute img {
  display: none;
  cursor: pointer;
  opacity: 0.8;
}

.mute img {
  cursor: pointer;
  opacity: 0.8;
}

.unmute img:hover {
  opacity: 1;
}

.mute img:hover {
  opacity: 1;
}

input#un-mute:checked ~ .unmute img {
  display: initial;
}

input#un-mute:checked ~ .mute img {
  display: none;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 6px;
  border-radius: 5px;
  background: #f9f9f9;
  outline: none;
  opacity: 0.95;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #f16834;
  cursor: pointer;
}


.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f16834;
  cursor: pointer;
}

.shepherd-element {
    position: block;
    border-radius: 0;
} 

.shepherd-element .shepherd-content {
  border-radius: 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  background: #ffffff;
  color: #444;
  font-size: 1.1em;
  line-height: 1.5em;
}

.shepherd-element .shepherd-content .shepherd-button {
  background: #20638d;
  color: #fff;
}
.shepherd-button {
  border-radius: 0;
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  justify-content: space-around;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}
.shepherd-button:hover {
  opacity: 0.8;
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
  /* margin-top: -7px; */
  background-color: transparent;
}

.shepherd-has-title .shepherd-content .shepherd-header {
  background: transparent;
  padding-bottom: 0;
  padding-left: 1.25rem;
}

.shepherd-has-title .shepherd-content .shepherd-header .shepherd-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.shepherd-text {
  font-size: 1rem;
  padding: 1rem 1.25rem;
}

.shepherd.tippy-popper[x-placement^="top"] .tippy-arrow{
  border-top-color: #fdf5e6;
}
