html,
body {
  background-color: rgb(0, 0, 0);
  color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.15em;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 80%;
  }
}

p {
  font-size: 0.75em;
}

h2 {
  font-weight: bold;
  padding: 0;
}

.logoContainer img{
  position: absolute;
  margin: 10px;
  z-index: 1;
  width: 45px;
}

.infoContainer {
  position: absolute;
  margin-left: 18px;
  margin-top: 75px;
  z-index: 1;
}

.SpeakerContainer {
  position: absolute;
  margin-top: 115px;
  margin-left: 19px;
  z-index: 1;
  opacity: ;
}


.container-top{
  flex:1;
  display: flex;
  flex-direction: row;
}

.container-canvas {
  /* background-color: rgb(237, 139, 139); */
  flex: 1;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.imgContainer {
  /* background-color: #fde386; */
  width: 50%;
}

#canvas {
  position: absolute;
  /* background-color: #0053d090; */
  top: 0;
  width: 50%;
  height: 75%;
  z-index: 0;
}

#container-video {
  flex: 1;
  /* min-width: 700px; */
  height: auto;
  /* background-color: #57df48bd; */
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ui-video {
  position:absolute;
  width: 48%;
  /* background-color: rgba(233, 239, 187, 0.603); */
  padding: 0.5rem 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn-vid{
  width: 65px;
  opacity: 0.45;
  background-color: #222222;
  z-index: 1;
}

.btn-vid:hover{
  opacity: 0.70;
  background-color: #222222;
}

#slider-range {
  border: none;
  width: 100%;
  background-color: #444;
}

#video1 {
  /* background-color: blue; */
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.ui-bar {
  /* background-color: rgba(44, 35, 172, 0.34); */
  width: 100%;
  /* max-height: 250px; */
  z-index: 0;
  flex: 0.35;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: center; */
  /* padding-bottom: 1em; */
}

.ui-theremin {
  flex: 2;
  /* background-color: #CF7361; */
  padding: 0.25em 1rem;
}

.ui-music {
  flex: 1;

  /* background-color: #9a8e32; */
  padding: 0.25em 1rem;
}

.ui-foley {
  flex: 1;

  /* background-color: #317c3c; */
  padding: 0.25em 1rem;
}

.ui-slider { 
  height: 6px;
}

.ui-slider .ui-slider-handle{
  border-radius: 100%;
  background-color: #DED094;
  width: 15px;
  height: 15px;
  border: none;
}

button {
  background-color: #7696c6;
  border: none;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.50;
  min-width: 50px;
}

button:hover {
  opacity: .74;
}

button:active {
  background-color: #7696c6;
}

.btn-classic {
  background-color: #CF7361;
  opacity: 0.68;
}

.btn-granular{
  background-color: #CF7361;
  opacity: 0.68;
}

.btn-grain{
  background-color: #CF7361;
  opacity: 0.68;
}

.btn-classic:hover {
  background-color: #CF7361;
  opacity: 0.92;
}

.btn-granular:hover{
  background-color: #CF7361;
  opacity: 0.92;
}

.btn-grain:hover{
  background-color: #CF7361;
  opacity: 0.92;
}

.btn-info {
  opacity: 0.8;
  background-color: black;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.btn-info:hover {
  opacity: 1;
}

.btn-info:active {
  background-color: black;
}

input#un-mute {
  display: none;
}

.unmute img {
  display: none;
  cursor: pointer;
  opacity: 0.8;
}

.mute img {
  cursor: pointer;
  opacity: 0.8;
}

.unmute img:hover {
  opacity: 1;
}

.mute img:hover {
  opacity: 1;
}

input#un-mute:checked ~ .unmute img {
  display: initial;
}

input#un-mute:checked ~ .mute img {
  display: none;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 6px;
  border-radius: 5px;
  background: #f9f9f9;
  outline: none;
  opacity: 0.95;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #CF7361;
  cursor: pointer;
}


.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #CF7361;
  cursor: pointer;
}

/* .shepherd-element.shepherd-theme-default {
    margin-bottom: 1px;
    margin-left: 1px;
    /* position: block; */
/* vertical-align: bottom; 
} */

.shepherd-element.shepherd-theme-default .shepherd-content {
  border-radius: 1px;
  position: relative;
  font-family: inherit;
  text-align: left;
  background: hsla(0, 9%, 42%, 0.1);
  color: #444;
  font-size: 1.1em;
  line-height: 1.5em;
}

.shepherd-element.shepherd-theme-default .shepherd-content .shepherd-button {
  background: rgb(109, 122, 175);
  color: #fff;
}
