html,
body {
    background-color: rgb(253, 245, 230);
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#video-bg {
    /* margin-left: 26%;
    margin-right: 24%;
    padding-top: 0.5%;
    padding-bottom: 0.3%;
    background-color: rgb(109, 122, 175); */
    margin-top: 5%;
    text-align: center;
    position: relative;
    z-index: 0;
}

/* GUI style */
:root {
    --tp-base-background-color: rgba(109, 122, 175, 0.4);
    --tp-base-shadow-color: rgba(109, 122, 175, 0.2);
    --tp-button-background-color: rgba(215, 123, 103, 0.8);
    --tp-button-background-color-active: rgba(215, 123, 103, 0.6);
    --tp-button-background-color-focus: rgba(215, 123, 103, 0.5);
    --tp-button-background-color-hover: rgba(215, 123, 103, 0.4);
    --tp-button-foreground-color: hsla(0, 0%, 0%, 0.8);
    --tp-folder-background-color: rgba(109, 122, 175, 0.8);
    --tp-folder-background-color-active: rgba(109, 122, 175, 0.6);
    --tp-folder-background-color-focus: rgba(109, 122, 175, 0.5);
    --tp-folder-background-color-hover: rgba(109, 122, 175, 0.4);
    --tp-folder-foreground-color: hsla(0, 0%, 100%, 0.6);
    --tp-input-background-color: hsla(0, 0%, 0%, 0.3);
    --tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
    --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
    --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.4);
    --tp-input-foreground-color: hsla(0, 0%, 100%, 0.7);
    --tp-input-guide-color: hsla(0, 0%, 100%, 0.1);
    --tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
    --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.3);
    --tp-label-foreground-color: hsla(0, 0%, 100%, 0.7);
    --tp-separator-color: hsla(0, 0%, 0%, 0.2);
}

#introduction {
    position: absolute;
    font-family: 'Roboto Mono';
    font-size: 14px;
    padding: 1.5% 1.5%;
    margin-top: 7%;
    margin-left: 27%;
    width: 46%;
    text-align: justify;
    background-color: rgba(11, 11, 11, 0.9);
    color: rgba(205, 205, 205);
    border-radius: 5px;
    z-index: 2;
    display: block;
    visibility: visible;
}

.btn {
    position: flex;
    font-family: 'Roboto Mono', monospace;
    border: none;
    border-radius: 2px;
    background-color: rgba(205, 205, 205);
    color: rgba(11, 11, 11);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
